.footer {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: #2f2f30;
    color: rgb(133, 127, 127);
    padding: 0vw;
    width: 60vw;
    border: 2px solid rgb(64, 64, 64);

}

.bloco{
    display: flex;
    flex-direction: row;
    align-items: center;
   
     p{
        font-size: 1.15em;
        padding: 0.5em;
      }

      img {
        width: 2vw;
        height: 4vh;

    }

}

